*{
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
}

input,
textarea {
    border-color: #198754;
    border-width: 0.5px;
    background-color: rgb(0, 0, 0, 0);
    border-radius: 5px;
    padding: 10px;
}

label {
    padding: 5px;
}

button {
    color: #198754;
    border-color: #198754;
    border-width: 0.5px;
    background-color: rgb(0, 0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 10%;
    transition: 0.3s;
}

button:hover {
    background-color: #198754;
    color: white;
}
/* Navbar container */
.Acontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Logo */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation links */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.nav-links li a:hover {
    color: black;
}

/* View Available Books link */
.nav-links li:nth-child(2) a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-links li:nth-child(2) a:hover {
    background-color: #0056b3; 
    color: black; 
}

